<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('public/style/app.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
    </head>
    <body>
        <div id="navigator">
            <div id="navigator__container">
                {% if app.user %}
                    <a id="navigator__search" href="#"><i class="fas fa-search"></i></a>
                {% endif %}
                <a id="navigator__index" href="{{ path('index') }}"><img id="navigator__logotype" src="{{ asset('public/img/logo.png') }}"></a>
                {% if app.user %}
                    <a id="navigator__user" href="{{ path('view', {'nickname': app.user.nickname}) }}"><i class="fas fa-user"></i></a>
                {% endif %}
            </div>
        </div>
        {% block body %}{% endblock %}
        <script src="{{ asset('public/js/app.js') }}"></script>
    </body>
</html>