{% if not app.user %}
    <a class="post__foot__like" href="{{ path('login') }}">
        <img class="post__foot__like__icon" src="{{ asset('/public/img/app/like.svg') }}" alt="">
        {% if (post.likes.count > 0) %}
            <p class="post__foot__like__count">{{ post.likes.count }}</p>
        {% endif %}
    </a>
{% elseif post.likes.contains(app.user) %}
    <button class="post__foot__unlike" value="{{ post.id }}">
        <img class="post__foot__unlike__icon" src="{{ asset('/public/img/app/unlike.svg') }}" alt="">
        {% if (post.likes.count > 0) %}
            <p class="post__foot__unlike__count">{{ post.likes.count }}</p>
        {% endif %}
    </button>
{% else %}
    <button class="post__foot__like" value="{{ post.id }}">
        <img class="post__foot__like__icon" src="{{ asset('/public/img/app/like.svg') }}" alt="">
        {% if (post.likes.count > 0) %}
            <p class="post__foot__like__count">{{ post.likes.count }}</p>
        {% endif %}
    </button>
{% endif %}