{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}>{{ value|format }}</textarea>
{% endblock textarea_widget %}

{% block form_errors %}
    {% if errors %}
        {% for error in errors %}
            <p class="error">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}Настройки • Mark{% endblock %}

{% block body %}
    {% include 'navigator.html.twig' %}

    <div id="container">
        {{ form_start(form, {'attr': {
            'id': 'edit'
        }}) }}
            {{ form_widget(form.nickname, {'attr': {
                'class': 'edit__login',
                'placeholder': 'Имя пользователя'
            }}) }}
            {{ form_widget(form.fullName, {'attr': {
                'class': 'edit__name',
                'placeholder': 'Полное имя'
            }}) }}
            {{ form_widget(form.about, {'attr': {
                'class': 'edit__about',
                'rows': 3,
                'placeholder': 'О себе'
            }}) }}
            <button class="edit__button" type="submit">Сохранить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}