{% extends 'base.html.twig' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
    <div class="container">
        <div id="profile">
            <div id="username">{{ user.nickname }}</div>
            <div id="full_name">{{ user.fullName }}</div>
            <div id="about">{{ user.about|raw }}</div>
            <div id="detail">
                <div class="item">
                    <div class="count">{{ user.posts.count }}</div>
                    <div class="text">Публикации</div>
                </div>
                <div class="item">
                    <div class="count">{{ user.subscriptions.count }}</div>
                    <div class="text">Подписки</div>
                </div>
                <div class="item">
                    <div class="count">{{ user.subscribers.count }}</div>
                    <div class="text">Подписчики</div>
                </div>
            </div>
            <a id="action" href="{{ path('settings') }}">Настройки</a>
        </div>
        <div id="posts">
            {% include 'post/post.html.twig' %}
        </div>
    </div>
{% endblock %}