{% extends 'base.html.twig' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
    <div class="container">
        <div id="profile">
            <div id="username">{{ user.nickname }}</div>
            <div id="full_name">{{ user.fullName }}</div>
            <div id="about">{{ user.about|raw }}</div>
            <div id="detail">
                <a class="item" href="#">
                    <div class="count">{{ user.posts.count }}</div>
                    <div class="text">Публикации</div>
                </a>
                <a class="item" href="{{ path('subscriptions', {'nickname': user.nickname}) }}">
                    <div class="count">{{ user.subscriptions.count }}</div>
                    <div class="text">Подписки</div>
                </a>
                <a class="item" href="{{ path('subscribers', {'nickname': user.nickname}) }}">
                    <div class="count">{{ user.subscribers.count }}</div>
                    <div class="text">Подписчики</div>
                </a>
            </div>
            {% if app.user == user %}
                <a id="button" href="{{ path('settings') }}">Настройки</a>
            {% else %}
                <div id="action">
                    {% include 'user/action.html.twig' %}
                </div>
            {% endif %}
        </div>
        <div id="posts">
            {% include 'post/post.html.twig' %}
        </div>
    </div>
{% endblock %}