{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        <form id="settings" action="{{ path('settings') }}" method="post">
            <input type="text" name="username" value="{{ user.username }}" placeholder="Имя пользователя">
            <input type="text" name="full_name" value="{{ user.fullName }}" placeholder="Полное имя">
            <textarea id="about" name="about" placeholder="О себе">{{ user.about|br2nl }}</textarea>
            <button id="button" type="submit">Сохранить</button>
        </form>
        {% if error %}
            <div id="error">{{ error.message }}</div>
        {% endif %}
    </div>
{% endblock %}