{% extends 'base.html.twig' %}

{% block title %}@{{ user.nickname }} • Mark{% endblock %}

{% block body %}
    {% include 'navigator.html.twig' %}

    <div id="container">
        <div id="profile">
            <h1 id="profile__nickname">{{ user.nickname }}</h1>
            {% if user.fullname %}
                <h2 id="profile__fullname">{{ user.fullname }}</h2>
            {% endif %}
            {% if user.about %}
                <p id="profile__about">{{ user.about|raw }}</p>
            {% endif %}
            <div id="profile__detail">
                <a class="profile__detail__item" href="#">
                    <div class="profile__detail__item__count">{{ user.posts.count }}</div>
                    <div class="profile__detail__item__name">Публикации</div>
                </a>
                <a class="profile__detail__item" href="{{ path('following', {'nickname': user.nickname}) }}">
                    <div class="profile__detail__item__count">{{ user.following.count }}</div>
                    <div class="profile__detail__item__name">Подписки</div>
                </a>
                <a class="profile__detail__item" href="{{ path('followers', {'nickname': user.nickname}) }}">
                    <div class="profile__detail__item__count">{{ user.followers.count }}</div>
                    <div class="profile__detail__item__name">Подписчики</div>
                </a>
            </div>
            <div id="profile__action">
                {% include 'user/action.html.twig' %}
            </div>
        </div>
        {% if user == app.user %}
            <div id="profile__create">
                <textarea id="profile__create__text" name="text" rows="1" placeholder="Поделитесь новостью..."></textarea>
                <button id="profile__create__button">Поделиться</button>
            </div>
        {% endif %}
        <div id="posts">
            {% if posts %}
                {% include 'post/post.html.twig' %}
            {% else %}
                <p id="empty">Записи не найдены</p>
            {% endif %}
        </div>
    </div>
{% endblock %}